/*
 *
 * Common
 *
 */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/*
 *
 * Header
 *
 */

 .header-logo {
    width: 150px;
}

/*
 *
 * Featured Projects
 *
 */

.project-link {
    font-size: 1em;
}